<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Atlantic Core Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/main-style.css">
    <link rel="stylesheet" href="/css/normalize.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <meta charset="utf-8">
    <div class="container">

</head>

<body>
     <div class="logo">
                <span ><img  src="./assets/logo-trans-resize.png" id="logoImage" alt="logo"></span>
<h4><strong>"don't guess, call the best"</strong></h4>
                <h5>Company Registration Number: 2018/292055/07</h5>
        </div>


    <div class="nav-bar">

        <span><a href="/" class="navi" id="{{nav1}}Active">Home</a></span>

        <span><a href="/services" class="navi" id="{{nav2}}Active">Services</a></span>

        <span><a href="/projects" class="navi" id="{{nav3}}Active">Projects</a></span>

        {{!-- <span><a href="/gallery" class="navi" id="{{nav4}}Active">Gallery</a></span> --}}

        <span class="dropdown"><a href="/aboutUs" class="navi" id="{{nav5}}Active">About Us <i class="fas fa-chevron-right"></i></a>
            <div class="dropdown-content">
      <a href="/certs/BEE.pdf" target='_blank'>B-BEE Registration</a>
      <a href="/certs/LOGS-AtlanticCoreProjects.pdf" target="_blank">COIDA LOGS</a>
      <a href="/certs/COR14.3-RegCert.pdf" target="_blank">CSD REGISTRATION</a>
    </div>
      </span>
     
         <span><a href="/contactUs" class="navi" id="{{nav6}}Active">Contact Us</a></span>
      
    </div>
         

   
    </body>
<div class="disp">
    
    {{{body}}}
    </div>

    
          
</div>
<div class='bottom'><footer>
    <div class='footer-one'>
        <h1>Business Hours:</h1>
        <ul>24/7 Customer Support</ul>
        <ul>Mon - Saturday from 8am - 4pm</ul>
       

    </div>

<div class='footer-two'>
        <h1>Get Connected:</h1>
        <div class='social'>
<span class='facebook'><a href="https://www.facebook.com/ACP1WP/" target='_blank'><i class='fab fa-facebook-f fa-3x'></i></a></span>
</div>
    </div>

     <div class='footer-three'>
        <h1>Location:</h1>
        <ul>1 Wanderers Crescent
Beacon Valley, Mitchell’s Plain</ul>
<ul></ul>
    </div>

</footer></div>
 

    